.button {
  background-color: #4262ff;
  font-size: 14px;
  letter-spacing: 0.2px;
  color: #fff;
  padding: 10px 16px;
  border: 2px solid transparent;
  border-radius: 6px;
  outline: none;
  cursor: pointer;
}

.button:active {
  background-color: #253fc2;
}
