.textArea {
  background-color: #fff;
  box-sizing: border-box;
  padding: 8px 5px;
  border: 1px solid #c3c2cf;
  border-radius: 4px;
  position: relative;
  outline: none;
  cursor: text;
}

.textArea::after {
  content: attr(data-placeholder);
  opacity: .5;
}

.email {
  margin-right: 8px;
  margin-bottom: 4px;
}
