.email {
  box-sizing: border-box;
  display: inline-block;
  position: relative;
  padding: 2px 24px 2px 12px;
  user-select: text;
}

.input {
  display: none;
  position: absolute;
}

.delete {
  width: 20px;
  background: url('../../assets/cross.svg') center no-repeat;
  position: absolute;
  top: 0;
  right: 2px;
  bottom: 0;
  user-select: none;
  cursor: pointer;
}

.valid {
  background-color: #e0ebff;
  border-radius: 20px;
}

.error {
  text-decoration: #f00 underline;
  padding-left: 0;
}

