@font-face {
  font-family: 'Open sans';
  src: url('./fonts/OpenSans-Regular.ttf');
  font-weight: 400;
}

@font-face {
  font-family: 'Open sans';
  src: url('./fonts/OpenSans-SemiBold.ttf');
  font-weight: 600;
}

html, body, .root {
  font-family: 'Open sans', sans-serif;
  font-size: 14px;
  font-variant: normal;
}

.root {
  background-color: #f8f8f8;
  display: block;
  position: relative;
  border-radius: 12px;
  box-shadow: #000 0px 3px 15px 0px;
}

.form {
  padding: 32px 50px 25px;
  box-sizing: border-box;
}

.title {
  font-size: 20px;
}

.boardName {
  font-weight: 600;
  letter-spacing: 0.2;
}

.textArea {
  height: 95px;
  overflow-y: auto;
  margin-top: 25px;
}

.buttonsBlock {
  padding: 25px 50px 31px;
}
